---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-full w-full flex justify-center items-center">
    <Card
      name="Andrés Bonilla"
      position="Gerente General Grupo Facenco"
      photo="employee-three.jpeg"
      email="andres.bonilla@camasfacenco.com"
      location="18 avenida 39-24 zona 12"
      phone="+502 3091-8604"
      linkedin="https://www.linkedin.com/in/andresbonillaalpirez"
    />
  </main>
</Layout>