---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-full w-full flex justify-center items-center">
    <Card
      name="Diego Fuentes"
      position="Gerente Manager"
      photo="/employee-two.jpeg"
      email="correoelectronico@email.com"
      qr="qr.png"
      location="18 avenida 39-24 zona 12"
      phone="(502) 2310-6500"
    />
  </main>
</Layout>
