---
import Carousel from "../components/Carousel.astro";
import Organization from "../components/Organization.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Facenco">
  <main class="test w-full">
    <div class="container mx-auto">
      <Carousel id="home"/>
      <hr class="border-white border-opacity-35 mb-8 mx-8">
      <Organization id="organization" />
    </div>
  </main>
</Layout>

<style>
  .test {
    background: linear-gradient(
      to left,
      rgb(0, 0, 0),
      rgb(0, 0, 0),
      rgb(17, 24, 39)
    );
  }
</style>
