---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Facenco">
	<main class="test h-screen w-full">
	</main>
</Layout>

<style>
	.test{
		background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0), rgb(17, 24, 39));
	}
</style>
