---
const {id} = Astro.props
import ProfilePicture from './ProfilePicture.astro'
---

<section id={id}>
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-3 lg:grid-cols-5 lg:grid-rows-3 justify-center px-8 py-28 gap-y-5 gap-x-5">
        <ProfilePicture href="/team-profiles/profile/1" picture="/team-profiles/assets/profile.webp" position="Presidente" name="Ing. Rudy Fuentes" class="md:col-start-2 lg:col-start-3 md:w-[200px]"/>
        <ProfilePicture href="/team-profiles/profile/2" picture="/team-profiles/assets/profile.webp" position="Vice-Presidente" name="Licda. Gabriela Giron" class="md:col-start-1 lg:col-start-2 md:row-start-2 lg:row-start-2 relative md:right-[-100px] lg:right-[-130px] md:w-[200px]"/>
        <ProfilePicture href="/team-profiles/profile/3" picture="/team-profiles/assets/profile.webp" position="Vice-Presidente" name="Lic. Manuel Soto" class="md:col-start-3 lg:col-start-4 md:row-start-2 lg:row-start-2 relative md:left-[-100px] lg:left-[-130px] md:w-[200px]"/>
        <ProfilePicture href="/team-profiles/profile/4" picture="/team-profiles/assets/profile.webp" position="Gerente Comercial" name="lic. Antonio Mendizabal" class="md:col-start-1 lg:col-start-2 md:row-start-3 lg:row-start-3 md:w-[200px]"/>
        <ProfilePicture href="/team-profiles/profile/5" picture="/team-profiles/assets/profile.webp" position="Directora" name="Dr. Patricia Fernández" class="md:col-start-2 lg:col-start-3 md:row-start-3 lg:row-start-3 md:w-[200px]"/>
        <ProfilePicture href="/team-profiles/profile/6" picture="/team-profiles/assets/profile.webp" position="Gerente Administratio" name="Lic. Mario" class="md:col-start-3 lg:col-start-4 md:row-start-3 lg:row-start-3 md:w-[200px]"/>

    </div>
</section>