---

---

<header>
    <nav class="header-container w-full text-white">
        <div class="flex flex-wrap items-center justify-between container mx-auto p-8">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="./assets/logo.png" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Facenco</span>
            </a>
            <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse md:hidden">
               
                <button data-collapse-toggle="mega-menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg   focus:outline-none  " aria-controls="mega-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
            </div>
            <div id="mega-menu" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                <ul class="flex flex-col mt-4 font-medium items-center  rtl:space-x-reverse md:flex-row md:mt-0 md:space-x-8 md:justify-evenly">
                    <li>
                        <a href="#" class="block capitalize py-2 px-3 text-white border-b border-gray-100 hover:bg-transparent hover:text-[#A99254] md:hover:bg-transparent md:border-0  md:p-0" aria-current="page">Organización</a>
                    </li>
                    
                    <li>
                        <a href="#" class="block capitalize py-2 px-3 text-white border-b border-gray-100 hover:bg-transparent hover:text-[#A99254] md:hover:bg-transparent md:border-0 md:p-0" aria-current="page">Contacto</a>
                    </li>
                    <li>
                        <form class="pt-4 md:py-0">
                            <div class="relative">
                                <div class="absolute top-2  start-flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input type="search" id="default-search" class="block w-full p-1 ps-10 text-sm text-white border border-[#A99254] rounded-lg bg-[#A99254] focus:outline-none focus:border-transparent focus:ring-transparent" placeholder="" required>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>
<style>
  .header-container {
    background: rgb(62, 62, 62);
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0), rgb(17, 24, 39));
  }
</style>
