---
const {id} = Astro.props
---
<div class="flex w-full justify-center pb-38 px-8">
    <section id={id} class="flex justify-center text-white flex-col lg:max-w-[700px]">
        <h1 class="text-center text-3xl underline-offset-8 font-bold text-[#A99254] underline mb-8">Organización</h1>
        <p class="text-center leading-8 mb-4">Organigrama de el Presidente, Vicepresidentes y Directores de Grupo Facenco, empresa guatemalteca líder centroamericana en la fabricación de camas y accesorios para dormitorio de diseño y alta calidad.</p>
        <p class="text-center leading-8 mb-4">El Presidente es el Ingeniero Rudy Cifuentes, con más de 30 años en la industria de camas y del descanso en Centroamérica. Cuenta con una sólida visión para expansión de negocios.</p>
        <p class="text-center leading-8 mb-4">En el equipo directivo también están la Vicepresidenta Comercial, Licda. Gabriela Girón, con amplia experiencia en ventas y exportaciones en la región; y el Vicepresidente de Operaciones, Ing. Manuel Soto, ingeniero industrial especializado en procesos de producción y control de calidad.</p>
    </section>

</div>